{% extends 'base.html.twig' %}
{% block body %}
	<img src="{{ asset('build/images/homebg.jpg') }}" alt="homepage" class="w-screen h-screen absolute inset-0 object-cover -z-1">
	<div class="text-white text-center absolute inset-0 flex items-center justify-center flex-col">
		<h1 class="text-6xl">Bienvenue sur le site immobilier</h1>
		<a class="bg-gray-400 bg-opacity-75 p-3 rounded" href="#">Visiter le site</a>
	</div>
{% endblock %}

{% block title %}

{% endblock %}

